@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

hr.sidebar {
  border: 1px solid #3282b8;
  width: 90%;
  position:relative;
  top: -90px;

}

body {
  font-family: "Lato", sans-serif;
  background-color: #204051;
}

.sidenav {
  height: 100%;
  width: 13%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1b262c;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  position:relative;
  top: -90px;
}

.sidenav a:hover {
  color: #25c0f4;
}

.sidenav-head{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  position:relative
  top:0px !important;
}

.sidebar-title{
    text-align:center !important;
    font-size: 25px !important;
    left: -8px;
}

.sidebar-subheader{
    text-align:center !important;
    font-size: 100% !important;
    position:relative;
    top: -90px;
    left: -8px;


}

.sidebar-title:hover{
    color: #818181 !important;
}

.sidebar-subheader:hover{
    color: #818181 !important;
}

.sidebar-image{
    width: 250px !important;
    height: 250px !important;
    position: relative;
    top: -32px;
    left: -15px;
}
.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  overflow: hidden;
}

.card-small-1{
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.7);
  transition: 0.3s;
  border-radius: 5px;
  width: 23.5%;
  height: 150px;
  background-color: #3282b8;
  margin-right: 3%;
  float:left;
  margin-top: 3%;
  position:absolute;
  right: 1118px;
  top: 790px;
  z-index: -1 !important;

}
.card-small-2{
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.7);
  transition: 0.3s;
  border-radius: 5px;
  width: 23.5%;
  height: 150px;
  background-color: #3282b8;
  margin-right: 3%;
  float:left;
  margin-top: 3%;
  position:absolute;
  right: 606px;
  top: 790px;
  z-index: -1 !important;

}

.card-small:hover{
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.card-text{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 150px;
    font-family: 'Roboto', sans-serif;
}

.card-text:hover{
    color: #1b262c;
}

.card-camera{
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.7);
  transition: 0.3s;
  border-radius: 5px;
  width: 50%;
  height: 750px;
  background-color: #3282b8;
  margin-right: 2%;
  margin-left: -45%;
  float:left;
  margin-top: 2%;
  position:absolute;
  right: 628px;
  top: 10px;
}

.module{
    float:left;
    display:inline;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.7);
    transition: 0.3s;
    border-radius: 5px;
    width: 30.5%;
    height: 200px;
    background-color: #3282b8;
    margin-left: 1.5%;
    position:absolute;
    right: 37px;
    top: 49px;

}

.module-2{
    float:left;
    display:inline;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.7);
    transition: 0.3s;
    border-radius: 5px;
    width: 30.5%;
    height: 200px;
    background-color: #3282b8;
    margin-left: 1.5%;
    position:absolute;
    right: 37px;
    top: 300px;

}

.module-3{
    float:left;
    display:inline;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.7);
    transition: 0.3s;
    border-radius: 5px;
    width: 30.5%;
    height: 200px;
    background-color: #3282b8;
    margin-left: 1.5%;
    position:absolute;
    right: 37px;
    top: 550px;

}

.module-4{
    float:left;
    display:inline;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.7);
    transition: 0.3s;
    border-radius: 5px;
    width: 30.5%;
    height: 200px;
    background-color: #3282b8;
    margin-left: 1.5%;
    position:absolute;
    right: 37px;
    top: 800px;

}

.module:hover{
    opacity: 0.6;
}

.module-2:hover{
    opacity: 0.6;
}

.module-3:hover{
    opacity: 0.6;
}

.module-4:hover{
    opacity: 0.6;
}
.module-text{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 200px;
    font-family: 'Roboto', sans-serif;
}

.module-text:hover{
    color: #1b262c;
}
