<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Settings</title>

</head>
<body>
<div class="sidenav">
    <div class="sidenav-head">
        <a class="sidebar-title sidenav-head" style="top:0px;"><b>Facial Recognition Based Attendance Tracker</b></a>
        <img src="{{ url_for('static',filename='img/sidebarImage.png') }}" class="sidebar-image">
        <a class="sidebar-subheader"><b>Developed By Samrat Sahoo</b></a>
    </div>
    <a href="/index">Dashboard</a>
    <hr class="sidebar">
    <a href="/configure">Configure Tracker</a>
    <hr class="sidebar">
    <a href="/attendance">Attendance List</a>
    <hr class="sidebar">
    <a href="/settings">Settings</a>
    <hr class="sidebar">
    <a href="/contact">Contact</a>
    <hr class="sidebar">
</div>
<div class="main"></div>

</body>
</html>